backports.functools-lru-cache==1.5
CRF==1.0
cycler==0.10.0
Cython==0.24.1
dask==0.10.2
decorator==4.0.10
kiwisolver==1.0.1
matplotlib==2.2.3
networkx==1.11
numpy==1.11.1
opencv-python==4.0.0.21
Pillow==3.3.0
protobuf==3.6.1
pydensecrf==1.0rc2
pyparsing==2.1.5
pypng==0.0.18
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==3.13
scikit-image==0.12.3
scikit-learn==0.20.2
scipy==0.18.0
six==1.10.0
sklearn==0.0
subprocess32==3.5.3
Theano==0.8.2
toolz==0.8.0
